<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDisplayName</key>
	<string>Soquel</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeName</key>
			<string>Folder</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.folder</string>
				<string>public.directory</string>
				<string>com.apple.bundle</string>
				<string>public.volume</string>
			</array>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>Soquel</string>
	<key>CFBundleIconFile</key>
	<string>Soquel</string>
	<key>CFBundleIdentifier</key>
	<string>app.soquel.Soquel</string>
	<key>CFBundleName</key>
	<string>Soquel</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0.7</string>
	<key>CFBundleVersion</key>
	<string>8</string>
	<key>LSMinimumSystemVersion</key>
	<string>13.0</string>
	<key>NSHighResolutionCapable</key>
	<true/>
	<key>NSHumanReadableCopyright</key>
	<string>MIT License — Soquel contributors</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
</dict>
</plist>
